* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #000;
	font-family: sans-serif;
}

a {
	user-select: none;
	text-decoration: none;
}

/* Ad */

#ad1 {
	display: flex; 
	justify-content: center; 
	background-color: #000;" 
}

/*Navigation*/

.navbar {
    background-color: #141414;
	padding: 9px;
	width: 100%;
	overflow: hidden;
    min-height: 46px;
}

.navbar-nav {
	max-width: 320px;
    min-width: 1280px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navBurger {
    margin-top: 3px;
    margin-right: 10px;
    float: left;
    height: 20px;
    display: block;
}

.navBurger:hover {
	cursor: pointer;
}

.navbar-logo {
	display: block;
	width: 100px;
	height: 22px;
	float: left;
	margin-top: 3px;
}

#nav-search {
	border-radius: 5px;
	margin-left: 20px;
	margin-top: -3px;
	border: 1px solid none;
	display: flex;
	padding-right: 5px;
}

#nav-search {
	display: none;
}

#navbar-search:hover{
	cursor: pointer;
}

#nav-search:hover {
	border: 1px solid #0f6199;
}

.sign_in {
    color: #000;
	display: block;
    padding: 0 14px;
    line-height: 28px;
    border-radius: 14px;
    text-decoration: none;
    background-color: #ffee00;
    height: 28px;
	float: right;
}

.searchIcon{
	height: 18px;
	margin: 6px;
	display: block;
	float: right;
}

.searchInput {
	margin-top: 5px;
    color: white;
    padding: 1px 450px 1px 5px;
    background : #141414;
	margin-bottom: 5px;
    border: none;

}

.searchInput:focus {
  outline: none;
}

#navbar-search {
	display: block;
	height: 1.50em;
	width: 2em;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	float: right;
}

#navbar-collapse {
	width: 256px;
	position:absolute;
	color: white;
    max-height: 100%;
	top: 0;
	background-color: black;
	transition: .3s ease-out;
	height: 100vh;
	padding: 16px;
	margin-left: -260px;
    height: 100%;
    z-index: 500;
}

#collapseHeight {
	height: 100%;
}


#search-close {
	cursor: pointer;
	display: none;
}

.navInfoSec {
	display: none;
	transition: 0.5s;
}

.close-icon {
	float: right;
	display: block;
	margin: 6px;
	height: 13px;
}

.navbar_info {
    background-color: rgba(0,0,0,.45);
    top: 0;
    left: 0;
	position: fixed;
}

.nav-item {
    color: #fff;
    cursor: pointer;
	padding: 7.5px 16px 7px 40px;
    font-size: 16px;
}

.scroll-bar {
	height: 95%;
	width: 225px;  
	overflow-y: auto;
	max-height: 100%;
}

.navInfoItems {
    color: #fff;
	padding: 7.5px 0px 7px 10px;
    font-size: 14px;
    font-weight: 500;
    padding-right: 0px;
    cursor: pointer;
}

.hoverGrey {
	color: #888;
}

.hoverGrey:hover {
	color: white;
}

.text-white {
	color: white;
}

.navBorderLine {
	border-bottom: .55px solid rgba(255,255,255,.2);
}

.closeCol {
	padding: 5px 5px 27.5px 40px;
}

.close {
	display: block;
	float: right;
	height: 15px;
}

.close:hover {
	cursor: pointer;
}

.navArrow {
	display: block;
	transition: .5s;
	height: 12px;
	margin-right: 12px;
	float: left;
	margin-left: -24px;
	margin-top: 2px;
	transform: rotate(0deg);
}

/*Tabs*/

.mainTabSection {
	max-width: 1203px;
    min-width: 320px;
	margin: 30px auto;
}

.tabSectionBorder {
	max-width: 100%;
}

.tabSection {
	font-size: 14px;
    display: inline-block;
    height: 100%;
    margin: 0 32px 0 0;
    padding: 12px 16px;
    cursor: pointer;
}

#tabContainer {
	display: flex; 
	border-bottom: 1px solid grey;
}

.activeTab {
	color: yellow;
}

#tabLine {
	display: block;
    width: 112px;
    background-color: #f7f728;
    height: 1px;
    margin-top: -1px;
    transition: 0.5s;
}

.tab {
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	margin-top: 23px; 
	text-decoration: none; 
	list-style: none;
	margin-bottom: 8px;
}

.tabItems {
	position:relative; 
	height: 100%; 
	width: 222px;
	margin-right: 23px;
	margin-top: 7px;
}

.tabItems:hover {
	cursor: pointer;
}

.tabItems-div {
	height: 100%;  
	width: 100%
}

.img-fluid {
	width: 100%;
}

.bgGrayscale {
	filter: grayscale(100%);
}

.tabItems-info {
	top: 0;
	width: 100%; 
	margin:0;
	padding-top: 18px;
	padding-left: 15px;
	height: 100%; 
	position: absolute; 
	z-index:1;
}

.tabItems-info span {
	font-size: 14px; 
	font-weight: 500; 
	color: #fff;
}

/*Tab Content*/

#promoSection {
	max-width: 1220px;
	display: grid;
	grid-template-columns: auto auto auto auto;
	overflow: hidden;
}

.promotionCard {
	width: 285px;;
    margin-top: 18px;
}

.promotionCard-info {
	width:100%;
	padding: 0;
	text-align: left;
	height: 100%;
	margin-bottom: 10px;
}

.promotionCard-info h3 {
	font-weight: 400;
	padding: 0;
	word-wrap: break-word;
	white-space: normal;
	width: 100%;
	color: #fff;
	font-size: 17px;
	margin-top: 6px;
}

.promotionCard-info p{
    white-space: normal;
    width: 100%;
    font-size: 12px;
    color: #666;
    margin-top: 4px;
    line-height: 1.5;
    word-wrap: break-word;
}

#promoCard-container {
	max-width: 1220px;
	padding-top: 14px;
	display: grid;
	overflow: hidden;
	grid-template-columns: auto auto auto auto;
}

#announcePage {
	display: none ;
}

/*Footer*/

footer {
    background-color: #141414;
    padding: 30px;
    color: white;
    border-top: 1px solid #5C5C5C;
    font-size: 15px;
}

footer .footer-items{
    display: flex;
    flex-direction: row;
    margin: 0 100px;
}

.footer-group {
    line-height: 2em;
    margin: 0 20px;
}

.footer-group a {
    color: white;
    text-decoration: none;
}

.footer-group .footer-links a {
    color: rgba(255, 255, 255, 0.452);
    font-weight: 100;
}

.footer-group .footer-icons svg {
    margin: 0 10px 0 0;
}

#ad-text a {
    color: #FFEE00;
}

#shop-button {
    padding: 7px  30px;
    background-color: #FFEE00;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

/*Responsiveness*/

@media (max-width: 1440px) {
	.navbar-nav {
		min-width: 920px;
	}

	.mainTabSection {
		max-width: 950px;
	}

	.tabItems {
		width: 170px;
		margin-right: 25px !important;
	}

	.tabItems-info {
		padding-top: 12px;
		padding-left: 13px;
	}

	#promoCard-container {
		max-width: 970px;
	}

	.promotionCard {
		max-width: 222px ;
	    margin-top: 26px;
	}

	footer .footer-items {
	    margin: 0;
	    justify-content: center;
	}	
}

@media (max-width: 1024px){
	#ad1 img {
		max-width: calc(100% - 5px);
	}

	#promoSection {
		max-width: 970px;
	}

	#promoSection {
		display: grid;
		margin-left: 5px;
		overflow: hidden;
		grid-template-columns: auto auto auto;
		max-width: calc(102% - 10px) !important;
	}

	#promoCard-container {
		display: grid;
		margin-left: 5px;
		overflow: hidden;
		grid-template-columns: auto auto auto;
		max-width: calc(102% - 10px) !important;
	}

	.tab {
		grid-template-columns: auto auto auto auto;
	}

	.mainTabSection {
	    padding-right: 5px;
		padding-left: 5px;
	}

	#tabContainer {
	    margin-right: 5px;
		margin-left: 5px;
	}

	#tabLine {
	    margin-right: 5px;
		margin-left: 5px;
	}

	.tabItems {
	    margin-right: 5px;
	    margin-left: 5px;
	    width: calc(100% - 10px) !important;
	}

	.tabItems-info {
		padding-left: 13px;
		padding-top: calc(12.5% - 10px) !important;
	}	

	.promotionCard {
	    margin-top: 26px;
		max-width: 300px !important;
	    width: calc(100% - 15px) !important;
	}

	footer .footer-items .footer-group-container {
	    display: grid;
	    grid-template-columns: 400px auto;
	    width: calc(100% - 5px);
	} 

	footer .footer-items {
	    flex-direction: column;
	}
}

@media (max-width: 940px) {
	.navbar-nav {
		min-width: calc(100% - 5px);
	}
}

@media (max-width: 759px) {
    footer {
        font-size: 11px;
    }

    footer .footer-items .footer-group-container {
        display: grid;
        grid-template-columns: auto auto;
        width: calc(100% - 5px);
    } 
}

@media (max-width: 400px) {
	.mainTabSection {
	    padding-right: 2px;
		padding-left: 2px;
	}

	#tabContainer {
		overflow-y: hidden;
	    margin-right: 2px;
		margin-left: 2px;
	}

	#tabLine {
	    margin-right: 2px;
		margin-left: 2px;
	}

	.tabItems {
	    margin-right: 2px;
	    margin-left: 2px;
	    width: calc(100% - 5px) !important;
	}

	.tabItems-info {
		padding-left: 13px;
		padding-top: calc(12.5% - 5px) !important;
	}
}

@media (max-width: 640px) {
	.tab {
		grid-template-columns: auto auto !important;
	}

	#tabContainer {;
		width: calc(100% - 5px);
	}

	.promotionCard {
	    margin-top: 30px;
		width: calc(100% - 10px);
	}

	.announcements-div {
		margin-top: 30px;
		width: calc(100% - 10px);
	}

	#promoSection {
		width: 620px;
		overflow: hidden;
		margin-left: 5px;
		display: grid;
		max-width: calc(102% - 5px) !important;
		grid-template-columns: auto auto !important;
	}

	#promoCard-container {
		width: 620px;
		margin-left: 5px;
		overflow: hidden;
		display: grid;
		max-width: calc(102% - 5px) !important;
		grid-template-columns: auto auto auto auto !important;
	}
}

@media (max-width: 426px) {
    footer .footer-items .footer-group-container .footer-group img {
        width: calc(100% - 5px);
    } 
} 